/* GridExample.css */
.photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px 0px;
}
.prev-next-btn {
  padding: 7px 19px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
@media screen and (max-width: 1024px) {
  .photos {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile (480px) */
@media (max-width: 480px) {
  .photos {
    grid-template-columns: 1fr;
  }
}

.photos-item {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
